body{
    background-color: #9ba5ff;
    text-align: center;
}

h1{
    font-style: oblique;
    margin-top: 50px;
    font-size: 3rem;
}

p{
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 30px;
    font-size: 2rem;
}

li{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}